body{
    color:blueviolet;
    background-color: cyan;
}
.heading{
    font-size: 30px;
    width: 75%;
}
#camera{
    width: 350px;
    height: 300px;
    border: 2px dashed #ee3e79;
}
.name_objects,#result_object_name,#result_object_accuracy{
font-size: 22px;
color: rgb(0, 0, 0);
}
p,b{
    font-family: 'Style Script', cursive;
}